body {
  font-family: Verdana, sans-serif;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: #222222;
  margin: 40px;
}

a {
  color: #0080FF;
  -webkit-text-decoration: #0080FF;
          text-decoration: #0080FF;
  font-weight: bold;
}

header {
  background: #fff;
  padding: 14px;
  border-bottom: 3px #222222 solid;
}

h1 {
  text-align: center;
}

h2 {
  color: #0080FF;
  text-align: center;
  padding-top: 50px;
}

h3 {
  text-align: center;
  color: #fff;
}

p {
  margin: auto;
  text-align: justify;
}

.slideshow-container {
  position: relative;
  margin: auto;
}

.slideshow-container .mySlides {
  display: none;
}

.slideshow-container .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slideshow-container .numbertext {
  color: #fff;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.slideshow-container .text {
  color: #fff;
  font-size: 3em;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-weight: bolder;
  background: #162944;
  opacity: 0.7;
  margin-bottom: -8px;
  height: 72px;
}

.slideshow-container .dot {
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.box {
  width: 60%;
  margin: auto;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box .photo {
  width: 50%;
  border: 1px solid #222222;
}

.box .photo img {
  max-width: 100%;
  height: auto;
}

.box .introduction1 {
  width: 50%;
  color: #fff;
  background-color: #0080FF;
  font-family: Arial, Helvetica, sans-serif;
}

.box .introduction1 p {
  padding-bottom: 10px;
  width: 70%;
}

.box .introduction1 a {
  color: #fff;
}

.box .introduction2 {
  width: 50%;
  color: #fff;
  background-color: dimgray;
  font-family: Arial, Helvetica, sans-serif;
}

.box .introduction2 p {
  padding-bottom: 10px;
  width: 70%;
}

.par_info {
  width: 60%;
  margin: auto;
  text-align: justify;
}

.container-form {
  border-radius: 5px;
  background-color: #cac7c7;
  padding: 20px 200px;
}

.container-form input[type=text], .container-form select, .container-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.container-form input[type=submit] {
  background-color: #0080FF;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container-form input[type=submit]:hover {
  background-color: #222222;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #222222;
  height: 50px;
}

footer .drone img {
  width: 45px;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

/* Tablette */
@media screen and (max-width: 1024px) {
  .box {
    width: 80%;
  }
  .par_info {
    width: 80%;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .box .photo {
    width: 99%;
  }
  .box .introduction1 {
    width: 100%;
  }
  .box .introduction2 {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */