$colorBlack: #222222;
$colorBlue: #0080FF;
$colorW: #fff;
@mixin titreH2 {
  color: $colorBlue;
  text-align: center;
  padding-top: 50px;
}
@mixin paragraph {
  margin: auto;
  text-align: justify;
}
@mixin link {
  color: $colorBlue;
  text-decoration: $colorBlue;
  font-weight: bold;
}

body {
  font-family: Verdana, sans-serif;
}
nav ul {
  display: flex;
  justify-content:center;
}
li {
  list-style: none;
  a {
    text-decoration:none;
    color: $colorBlack;
    margin: 40px;
  }
}
a {
  @include link()
}
header {
  background: $colorW;
  padding: 14px;
  border-bottom: 3px $colorBlack solid;
}
h1 {
    text-align: center;
}
h2 {
  @include titreH2()
}
h3 {
  text-align: center;
  color: $colorW;
}
p {
  @include paragraph()
}
.slideshow-container {
  position: relative;
  margin: auto;
  .mySlides {
    display: none;
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  .numbertext {
    color: $colorW;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .text {
    color: $colorW;
    font-size: 3em;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-weight: bolder;
    background: #162944;
    opacity: 0.7;
    margin-bottom: -8px;
    height: 72px;
  }
  .dot {
    height: 5px;
    width: 5px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
}

.box {
    width: 60%;
    margin: auto;
    padding-bottom: 10px;
    display: flex;
    .photo {
    width: 50%;
    border: 1px solid $colorBlack;
    img {
      max-width: 100%;
      height: auto;
    }
    }
    .introduction1 {
    width: 50%;
    color: $colorW;
    background-color: $colorBlue;
    font-family: Arial, Helvetica, sans-serif;
    p {
      padding-bottom: 10px;
      width: 70%;
    }
    a {
      color: $colorW;
    }
    }
    .introduction2 {
    width: 50%;
    color: $colorW;
    background-color: dimgray;
    font-family: Arial, Helvetica, sans-serif;
    p {
      padding-bottom: 10px;
      width: 70%;
    }
  }
}
.par_info {
  width: 60%;
  margin: auto;
  text-align: justify;
}
//formulaire
.container-form {
  border-radius: 5px;
  background-color: #cac7c7;
  padding: 20px 200px;
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    }
    input[type=submit] {
    background-color: $colorBlue;
    color: $colorW;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
    input[type=submit]:hover {
    background-color: $colorBlack;
    }
}

footer{
  display:flex;
  justify-content: center;
  align-items: center;
  background: $colorBlack;
  height: 50px;
  .drone img{
    width: 45px;
  }
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Tablette */
@media screen and (max-width: 1024px) {
  .box {
    width: 80%;
  }
  .par_info {
    width: 80%;
  }
}
/* Mobile */
@media screen and (max-width: 767px) {
  .box {
  flex-direction: column;
  .photo {
    width: 99%;
  }
  .introduction1 {
    width: 100%;
  }
  .introduction2 {
    width: 100%;
  }
  }
}